

html{
    height: auto;
    scroll-behavior: smooth;
    
}
:root{
    --myFont:'Avenir Next';
}
.myTimes{
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: lighter;
    line-height: normal;
}
.myTimesLittle{
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: lighter;
    font-size: smaller;
}

.myBackBody{
    background-color: #f1f1f1;
}

.myClass{
    
    background-color: rgb(241,241,241);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:  var(--myFont);
    
}

.myFontTitle{
    font-family: var(--myFont);
    font-weight:normal !important;
    
    
}
.myFontTitleFooter{
    font-family: var(--myFont);
    font-weight:normal;
    font-size: small;
    
    
    
    
}
.myFont{
    font-family: var(--myFont);
    font-weight: normal;
    font-size: medium;
    
    
}
.myFontFooter{
    font-family: var(--myFont);
    font-weight: normal;
    font-size:smaller;
    
    transition: 0.4;
    
}
.myFont14{
    font-family: var(--myFont);
    font-weight: normal;
    font-size:10px;
    
    transition: 0.4;
}
.myFontLittle{
    font-family: var(--myFont);
    font-weight: normal;
    font-size:smaller;
}
a:hover{
    opacity: 1 !important;
    
}
.myWhite{
    background-color: white;
    
}

.myH{
    height: auto;
}
a{
    text-decoration: none !important;
    color: black !important;
    transition: 0.2s;
    
    
}
.bot{
    position:absolute;
    width:100%;
    
    bottom: 0;
}
.z99{
    z-index: 99 !important;
}
.z98{
    z-index: 98;
}
.negMar{
    margin-top: -90px;
}
.mBotHome{
    margin-bottom: 100px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.mt100{
    margin-top: 100px;
}
.mt70{
    margin-top: 70px;
}
.bgBlack{
    background-color: rgba(0, 0, 0,0.8);
}

    .list-group-item-action:hover, .list-group-item-action:focus{
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: rgb(241,241,241) !important;
        
    }
    
        .border-bottom {
            border-bottom: 0px solid #dee2e6 !important;
            border-bottom-width: 1px !important;
            border-bottom-style: solid !important;
            border-bottom-color: rgba(0, 0, 0,0.8) !important;
        }
        
        
        .myBtn{
            background: none!important;
            border: none;
            padding: 0!important;
        }
        .myH50{
            height: 200px;
        }
        .myShadow{
            box-shadow: 10px 7px 19px -13px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 7px 19px -13px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 19px -13px rgba(0,0,0,0.75);
        }
        .myBack{
            
            background-color: rgb(220,212,198);
            
            
        }
        
        .myDiv{
            width: 250px;
            height:100%;
            
            transition: 0.5s !important;
            z-index: 98;
            top: 53px;
            position:fixed;
            
            
        }
        .myDivHidden{
            margin-left:-255px;
            transition: 0.5s !important;
            
            
        }
        .myZ99{
            z-index: 98 ;
        }
        .sticky {
            position: fixed;
            top: 53px;
            transition: 0.5s;
            
        }
        .myUnder:hover{
            text-decoration: underline !important;
            transition: 0.5s;
        }
        .myTop{
            margin-top: auto;
        }
        .myMargin{
            margin-top: 450px;
        }
        .modal-body {
            
            
            max-height:100%; 
            overflow-y:hidden;
        }
        .mySmallFont{
            font-family: var(--myFont);
            font-weight: lighter;
            font-size: 7px;
            
        }
        .myPos{
            
            
            position:absolute;
            top: 25%;
            
        }
        ul {
            column-count: 2;
            column-gap: 2rem;
            list-style: none;
            
        }
        .myH50{
            height: 40px;
        }
        .aLogo{
            height: 57px !important;
           
        }
        .copyRight{
            font-size: 9px;
        }
        .mynavbartop{
            
            margin-left: 10px;
            
        }
        .mtFontModal{
            font-size: normal;
        }
        .z100{
            z-index: 999;
        }
        .w-35{
            width: 30% !important;
            
        }
        .w-23{
            width: 21% !important;
            
        }
        .h-283{
            height: 283px;
        }
        .h-381{
            height: 381px;
        }
        .swiper-pagination-bullet {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #000;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
        }
        
        .swiper-pagination-bullet-active {
            color: #fff;
            background: #007aff;
        }
        .mb100{
            margin-bottom: 150px !important;
        }
        #top {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 30px;
            border: none;
            outline: none;
            
            color: black;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }
        
      
            input[type=text] {
                border: none;
                border-bottom: 1px solid black;
                background-color: rgb(241,241,241) ;
            }
            .myOpacity{
               
                width: 90%;
            }
           
            
            .swiper-button-next, .swiper-button-prev{
                color: black !important;
            }
            .myFontIcon{
                font-family: var(--myFont);
                font-weight:bold;
                font-size:medium;
            }
            h2{
                margin: 0;
            }
            .swiper-button-prev:after {
               font-size: 15px !important;
              }
              
              .swiper-button-next:after {
                font-size: 15px !important;
               } 
               .confmes{
                   right:15px;
                   top: 75px;
               }