.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,0.5);
}

.modal{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 1000;
    overflow: hidden;
    border: 2px solid white;
    padding: 40px;
    backdrop-filter: blur(15px);
    justify-content: center;

}
@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
    
}