.card-game{
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    
}
.card-game > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px) brightness(50%);
    transition: 0.3s;

}
.card-game:hover > img{
    
    filter: blur(5px) brightness(50%);

}
.card-game > p {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 10px 10px;

}
.card-game > a {
    position:absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 80px;
    left: 130px;
    background-color: #222;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.5s;



}

.card-game:hover > a {
    opacity: 1;
}
.card-game > div {
    position: absolute;
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(
        -45deg,
        transparent 0 10px,
        rgba(255,255,255,0.4) 10px 20px
    );
}

.card-game > div:first-of-type{
    top: 0px;
}
.card-game > div:last-of-type{
    bottom: 0px;
}