@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
  font-family: 'Electrolize', sans-serif;
  color: whitesmoke;
}

body{
  
    background-color: #222;
    
    display: flex;
    flex-direction: column;
    font-family:  var(--myFont);
    overflow-x: hidden;
    

}
.text-main{
  color: aqua;
}
.bg-main{
  background-color: aqua;
}
@font-face {
  font-family: 'avenir';
  src: url(./Assets/AvenirNext-Regular.woff);
}
.font-avenir{
  font-family: 'avenir';
}
.myColor{
  color: whitesmoke !important;
}
.sign-form{
  position: relative;
  padding: 30px;

}
.sign-top{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}
.sign-top::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.sign-top::after{
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.sign-bottom{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}
.sign-bottom::before{
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
.sign-bottom::after{
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

